sphinx
myst-parser[linkify]
sphinx-book-theme
sphinxcontrib-bibtex
pybtex-apa-style
six
sphinx-subfigure
sphinx-design
sphinx-math-dollar
sphinxcontrib-youtube
sphinxcontrib-proof
myst-nb
ipykernel
numpy
scipy
matplotlib
sympy
